@import "~shared/styles/breakpoints";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline-color: var(--accent-color);
  }
}

a {
  color: currentColor;
  text-decoration: none;

  &:focus {
    outline: auto;
    outline-color: var(--accent-color);
  }
}

ul,
ol {
  list-style: none;
}
