@import "~shared/styles/breakpoints";

.footer {
  padding: 30px 15px;
  color: #ffffff;
  background-color: #484848;

  .wrapper {
    @media (min-width: $breakpoint-md) {
      width: 690px;
      margin: 0 auto;
    }

    @media (min-width: $breakpoint-lg) {
      width: 930px;
    }

    @media (min-width: $breakpoint-xl) {
      width: 1110px;
    }

    & a {
      color: #ffffff;
    }

    .columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 30px;
      justify-content: space-between;

      @media (min-width: $breakpoint-md) {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 70px;
      }

      @media (min-width: $breakpoint-lg) {
        grid-template-columns: repeat(6, 1fr);
        column-gap: 50px;
      }

      @media (min-width: $breakpoint-lg) {
        column-gap: 90px;
      }
    }

    .info {
      margin-top: 30px;

      @media (min-width: $breakpoint-md) {
        display: flex;
      }

      @media (min-width: $breakpoint-lg) {
        margin: 40px 0 10px;
      }

      @media (min-width: $breakpoint-xl) {
        margin: 50px 0 20px;
      }

      .logo {
        background-color: #484848;
        cursor: pointer;
      }

      .text {
        font-size: 12px;
        color: #ffffff;
        line-height: 18px;
        margin-top: 10px;

        @media (min-width: $breakpoint-md) {
          font-size: 14px;
        }

        @media (min-width: $breakpoint-lg) {
          font-size: 16px;
          line-height: 25px;
        }
      }

      .dev {
        @media (min-width: $breakpoint-md) {
          margin-left: 30px;
        }

        @media (min-width: $breakpoint-lg) {
          margin-left: 117px;
        }

        @media (min-width: $breakpoint-xl) {
          margin-left: 300px;
        }

        .developer {
          width: 130px;
          height: 46px;
          display: block;
          margin: 10px auto 0px;

          @media (min-width: $breakpoint-md) {
            width: 160px;
            height: 60px;
            margin-right: 0;
          }
        }
      }
    }
  }
}
