@import "~shared/styles/breakpoints";

.warranty {
  padding: 30px 15px;

  @media (min-width: $breakpoint-lg) {
    padding: 40px 15px;
  }

  @media (min-width: $breakpoint-xl) {
    padding: 50px 15px;
  }

  .wrapper {
    @media (min-width: $breakpoint-md) {
      display: flex;
      flex-direction: row-reverse;
      gap: 30px;
      width: 690px;
      margin: 0 auto;
    }

    @media (min-width: $breakpoint-lg) {
      gap: 40px;
      width: 930px;
      margin: 0 auto;
    }

    @media (min-width: $breakpoint-xl) {
      gap: 110px;
      width: 1110px;
      margin: 0 auto;
    }

    .textBlock {
      @media (min-width: $breakpoint-md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
      }

      .title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;

        @media (min-width: $breakpoint-md) {
          font-size: 30px;
          margin-bottom: 10px;
        }

        @media (min-width: $breakpoint-lg) {
          font-size: 34px;
        }

        @media (min-width: $breakpoint-xl) {
          font-size: 40px;
        }
      }

      .text {
        margin-top: 10px;
        line-height: 20px;

        @media (min-width: $breakpoint-lg) {
          font-size: 18px;
          line-height: 25px;
        }

        @media (min-width: $breakpoint-xl) {
          margin-top: 20px;
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    .preview {
      display: flex;
      margin-top: 30px;
      border: 1px solid #aaaaaa;
      border-radius: 20px;
      overflow: hidden;

      @media (min-width: $breakpoint-md) {
        margin-top: 0px;
        flex: 1;
      }

      @media (min-width: $breakpoint-lg) {
        &:hover {
          cursor: zoom-in;
          img {
            transform: scale(1.02);
          }
        }

        img {
          transition: all 0.5s;
        }
      }
    }
  }
}
