.order {
  display: none;

  &.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .orderModal {
    margin: 0px 15px;
    font-family: 'Nunito';
    color: #000000;
    min-width: 290px;
    max-width: 400px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px #797878;
    align-items: center;

    @media (min-width: 430px) {
      margin: 0px auto;
    }

    .orderReset {
      display: flex;
      justify-content: right;
      width: 100%;
      padding: 5px;

      .buttonReset {
        width: 25px;
        height: 25px;
        position: relative;
        background-color: transparent;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #000000;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #000000;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }
    }

    .modal {
      padding: 0px 20px 35px;

      .title {
        font-size: 18px;
        font-weight: 700;
        margin-left: 20px;
        margin-bottom: 5px;
      }

      .form {
        display: flex;
        flex-direction: column;

        .field {
          display: flex;
          align-items: center;
          height: 26px;
          margin-top: 15px;
          border-bottom: 1px solid #aaaaaa;

          input {
            width: 100%;
            font-family: 'Nunito';
            border: none;
            color: #aaaaaa;
            outline: none;

            &::placeholder {
              padding-left: 5px;
              color: #aaaaaa;
            }

            &[type="checkbox"] {
              width: auto;
            }
          }

          a {
            margin-left: 5px;
            text-decoration: underline;
          }

          &:last-of-type {
            border-bottom: none;
          }

          &.valid {
            border-color: #09b800;
          }

          &.invalid {
            border-color: #ff0000;
          }

          .select {
            width: 100%;
            font-family: 'Nunito';
            border: none;
            color: #aaaaaa;
            outline: none;

            &:focus {
              border: none;
            }
          }
        }

        .submit {
          width: 100%;
          height: 40px;
          margin-top: 20px;
          font-size: 16px;
          border: 1px solid #000000;
          border-radius: 30px;
          cursor: pointer;

          &:disabled {
            opacity: 0.3;
            cursor: no-drop;
          }
        }
      }
    }
  }
}
