@import "~shared/styles/breakpoints";

.cashback {
  padding: 30px 15px;

  @media (min-width: $breakpoint-lg) {
    padding: 40px 15px;
  }

  @media (min-width: $breakpoint-xl) {
    padding: 50px 15px;
  }

  .wrapper {
    @media (min-width: $breakpoint-md) {
      width: 460px;
      margin: 0 auto;
    }

    @media (min-width: $breakpoint-lg) {
      width: 500px;
    }

    @media (min-width: $breakpoint-xl) {
      width: 580px;
    }

    .textBlock {
      @media (min-width: $breakpoint-md) {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      .title {
        margin-bottom: 20px;
        font-size: 26px;
        font-weight: 700;

        @media (min-width: $breakpoint-md) {
          font-size: 30px;
          margin-bottom: 10px;
        }

        @media (min-width: $breakpoint-lg) {
          font-size: 34px;
        }

        @media (min-width: $breakpoint-xl) {
          font-size: 40px;
        }
      }

      .text {
        margin-top: 10px;
        line-height: 20px;

        @media (min-width: $breakpoint-lg) {
          font-size: 18px;
          line-height: 25px;
        }

        @media (min-width: $breakpoint-xl) {
          margin-top: 20px;
          font-size: 20px;
          line-height: 30px;
        }
      }

      .buttonOrderOpen {
        width: 100%;
        height: 50px;
        margin-top: 20px;
        font-size: 16px;
        background: inherit;
        border: 1px solid #484848;
        border-radius: 30px;
        position: relative;
        overflow-x: hidden;
        transition: all .3s;
        z-index: 0;

        @media (min-width: $breakpoint-md) {
          width: 225px;
          margin: 20px auto 0;
        }

        @media (min-width: $breakpoint-lg) {
          width: 243px;
          height: 55px;

          &:after {
            background: #484848;
            border-radius: 30px;
            content: "";
            height: 100%;
            left: -100%;
            position: absolute;
            top: 0;
            transition: left .5s;
            width: 100%;
            z-index: -1;
          }

          &:hover {
            color: #ffffff;
            z-index: 1;
          }

          &:hover:after {
            left: 0;
          }

          &.dark {
            &:after {
              background: #ffffff;
            }

            &:hover {
              color: #484848;
              z-index: 1;
            }
          }
        }

        @media (min-width: $breakpoint-xl) {
          width: 282px;
          height: 67px;
          margin-top: 30px;
        }

        &.dark {
          border: 1px solid #ffffff;
        }
      }
    }
  }
}
